@model List<ProductVM>

<div class="row">
    @foreach (ProductVM item in Model)
    {
        <div class="col-md-12">
            <div>
                <div>
                    <span>@item.Product.Model (@item.Product.Views просмотры)</span>
                </div>
                <div>
                    <img src="~/Content/Images/Product/@item.GetFirstImages().ImageUrl" alt="@item.GetFirstImages().Alt" class="img-responsive"/>
                    <span>@item.Product.Price</span>
                </div>
            </div>
        </div>
    }
</div>
