<span>
    Sorting
</span>

<ul id="sortProducts">
    <li>
        <a href="/Home/SortProductBy?sortBy=km">
            <div>
                <input type="checkbox"/>
                <span>Км в час</span>
            </div>
        </a>
    </li>
    <li>
        <a href="/Home/SortProductBy?sortBy=price">
            <div>
                <input type="checkbox"/>
                <span>Самая дешёвая цена</span>
            </div>
        </a>
    </li>
    <li>
        <a href="/Home/SortProductBy?sortBy=views">
            <div>
                <input type="checkbox"/>
                <span>Самые популярные</span>
            </div>
        </a>
    </li>
    <li>
        <a href="/Home/SortProductBy?sortBy=hk">
            <div>
                <input type="checkbox"/>
                <span>Самое большое количество HK</span>
            </div>
        </a>
    </li>
</ul>