<span>
    Sorting
</span>

<ul id="sortProducts">
    <li>
        <a href="/Home/SortProductBy?sortBy=Скорости">
            <div>
                <input type="checkbox"/>
                <span>Км в час</span>
            </div>
        </a>
    </li>
    <li>
        <a href="/Home/SortProductBy?sortBy=Цене">
            <div>
                <input type="checkbox"/>
                <span>Самая дешёвая цена</span>
            </div>
        </a>
    </li>
    <li>
        <a href="/Home/SortProductBy?sortBy=По просмотрам">
            <div>
                <input type="checkbox"/>
                <span>Самые популярные</span>
            </div>
        </a>
    </li>
    <li>
        <a href="/Home/SortProductBy?sortBy=BHP">
            <div>
                <input type="checkbox"/>
                <span>Самое большое количество HK</span>
            </div>
        </a>
    </li>
</ul>