@model List<BrandVM>

<div id="usedCars">
    <div>
        <h3>Падерженные авто (@ViewBag.TotalProductCount)</h3>
    </div>
    <div>
        <ul>
            @foreach (BrandVM vm in Model)
            {
                <li>
                    <a href="/Home/SortByBrand/@vm.Brand.ID">@vm.Brand.Name (@vm.ProductCount)</a>
                </li>
            }
        </ul>
    </div>
</div>