@model List<Image>
@{
    ViewBag.Title = "Images";
}

<h2>Images</h2>

<div class="row">
    <div class="col-xs-12">
        <form action="/Admin/CMS/CreateImages" method="post" enctype="multipart/form-data">
            <input type="file" multiple required name="list" />
            <input type="submit" value="Upload" />
        </form>
    </div>
</div>

<h3>Images with no assignments</h3>
<div class="row">
    @foreach (Image img in Model.Where(x => x.ProductID == 0 && x.SubpageID == 0).ToList())
    {
        <div class="col-md-4">
            <img src="~/Content/Images/Product/@img.ImageUrl" class="img-responsive" />
        </div>
    }
</div>
<hr />
<h3>Images with a Product</h3>
<div class="row">
    @foreach (Image img in Model.Where(x => x.ProductID > 0).ToList())
    {
        <div class="col-md-4">
            <img src="~/Content/Images/Product/@img.ImageUrl" class="img-responsive" />
        </div>
    }
</div>

<hr />
<h3>Images with a Subpage</h3>
<div class="row">
    @foreach (Image img in Model.Where(x => x.SubpageID > 0).ToList())
    {
        <div class="col-md-4">
            <img src="~/Content/Images/Product/@img.ImageUrl" class="img-responsive" />
        </div>
    }
</div>



